sudo: false

language: node_js
node_js:
  - "10"

env:
  global:
    secure: "SNXYdJeE2Vbe3inW7RycZgoHqQmv8M6D0MqGjRzbMg2BygOQ5LBTTR262muk+i2GLfw64i0m1p6znZvCYAElnngXoSLgq0zL6tGAVq9+EjmddleddeWBkLgjnv5WiA8sKlFF8uwxY2MfDy79qn9rxb4FgVQROCk+4Wqr8S5/q0HOzQk4NH7TacqCoMPdfMnnxCig7rbM2/8ZgyBz4Poxv2MdRoi0WZZ5QKpKIjQHSEvVN2mfTYRhiRGPgjFSllGHZHxW1gk4SrDTQ86npTddv7cp8CTV1tFLTJhktNGM1PfTx/XUdR2pWed1avI5J9Cx+/FNs8SCnS8npKlrtxlV3b0TyjkSo7hCNDYchsq3R9TxdUTt4P36oGNhk7jD+0168Ws+aFc8o9Jg5VOEo+GRUMDv1B2uYzvgdevT8GNqjChSM5PKR5nhWHfTp9UFS9jFEZixscYYZ67pqEM4nLKrGJtDADW5MYjn/1RR7JXjg/F0ScdRcvVGZwte2ZtDg8TUPRGCUoGy733hTj50SwyUHhBHzM1M47spHjbmR/mZ01vmmahrHqsvNY785GrEA4MGi0wGAc80s5Nf2TLL0B6Egq/fkxeeWtm5EE6MkXBftMQS6DzWs5x6AxNhNewkPcRbxW+M7pwpyYi2NywNlffZMJqzNHF5JnHs/fIx6U+3BCk="

cache: npm

notifications:
  email: false

before_script:
 - .travis/check-changed-files.sh

script:
 - .travis/build-app.sh
