/* Toolbar */
.navbar-brand>a, .navbar-brand>a:hover {
	color: inherit;
	text-decoration: none;
}
#pcs-search {
	border: 0;
}
#pcs-selected-presets {
	border: 0;
	min-width: 5em;
	display: inline-block;
}

/* Fixer list - Common */
.pcs-search-failed {
	display: none;
}
.pcs-fixerview-selection-byfixerset-excluded>.card,
tr.pcs-fixerview-selection-byfixerset-excluded {
	background-color: #eca6a4;
	border-color: #eca6a4;
}
.pcs-fixerview-selection-byfixerset-included>.card,
tr.pcs-fixerview-selection-byfixerset-included {
	background-color: #ace8b7;
	border-color: #ace8b7;
}
.pcs-fixerview-selection-yes>.card,
tr.pcs-fixerview-selection-yes {
	background-color: #5cb85c;
	border-color: #5cb85c;
}
.pcs-fixerview-selection-no>.card .pcs-fixerview-configure,
tr.pcs-fixerview-selection-no .pcs-fixerview-configure button,
.pcs-fixerview-selection-byfixerset-excluded>.card .pcs-fixerview-configure,
tr.pcs-fixerview-selection-byfixerset-excluded .pcs-fixerview-configure button {
	visibility: hidden;
}

/* Fixer list - Cards */
div.pcs-fixerview-card {
	margin-bottom: 20px;
}
div.pcs-fixerview-card .card-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.pcs-fixerview-card>.card>.card-block>.card-title>.fa-exclamation-triangle, div.pcs-fixerview-card>.card>.card-block>.card-title>.fa-thumbs-down {
	float: right;
}
div.pcs-fixerview-card>.card>.card-block>footer {
	margin-bottom: -1em;
}
div.pcs-fixerview-card .pcs-fixerview-configure {
	float: left;
}
div.pcs-fixerview-card>.card>.card-block>footer>.pcs-fixer-sets {
	float: right;
}

/* Fixer list - Rows */
tr.pcs-fixerview-selection-no .pcs-fixerview-configure {
	display: none;
}
body.pcf-configuring tr.pcs-fixerview-selection-no .pcs-fixerview-configure {
	display: table-cell;
}


ul.list-unstyled {
	margin-bottom: 0;
}

div.cgs-configuringoption {
	margin-top: 20px;
}


.token.tab:not(:empty):before,
.token.cr:before,
.token.crlf:before,
.token.lf:before,
.token.space:before {
	content: '';
}

.show-invisibles .token.tab:not(:empty):before {
	content: '\21E5';
}
.show-invisibles .token.cr:before {
	content: '\240D';
}
.show-invisibles .token.crlf:before {
	content: '\240D\240A';
}
.show-invisibles .token.lf:before {
	content: '\240A';
}
.show-invisibles .token.space:before {
	content: '\00B7';
}

textarea.code {
	font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

.pcf-onlyconfiguring-hidden {
	display: none;
}

#pcs-rows {
	display: none;
}

.pcs-modal-help-configurator {
	display: none;
}
body.pcf-configuring .pcs-modal-help-configurator {
	display: block;
}
body.pcf-configuring .pcs-modal-help-normal {
	display: none;
}
#pcs-modal-help .card {
	min-height: 20px;
}

#pcs-save-output {
	overflow: auto;
}
