html, body {
	min-height: 100%;
}
#pcs-selected-presets {
	border: 0;
	min-width: 5em;
	display: inline-block;
}
#pcs-search {
	border: 0;
}

div.pcs-fixercard {
	margin-bottom: 20px;
}
div.pcs-fixercard .card-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.pcs-fixercard>.card>.card-block>.card-title>.fa-exclamation-triangle {
	float: right;
}
div.pcs-fixercard>.card>.card-block>footer {
	margin-bottom: -1em;
}
div.pcs-fixercard>.card>.card-block>footer>.pcs-fixer-configure {
	float: left;
}
div.pcs-fixercard>.card>.card-block>footer>.pcs-fixer-sets {
	float: right;
}
div.pcs-search-failed {
	display: none;
}


.pcs-fixerselection-no>.card {
}
.pcs-fixerselection-byfixerset-excluded>.card {
	background-color: #eca6a4;
	border-color: #eca6a4;
}
.pcs-fixerselection-byfixerset-included>.card {
	background-color: #ace8b7;
	border-color: #ace8b7;
}
.pcs-fixerselection-yes>.card {
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.pcs-fixerselection-no .pcs-fixer-configure,
	.pcs-fixerselection-byfixerset-excluded .pcs-fixer-configure {
	visibility: hidden;
}

#pcs-save {
	position: fixed;
	display: none;
	top: 0;
	right: -460px;
	width: 460px;
	max-width: 100vw;
	height: 100vh;
	overflow: auto;
	-webkit-transition: right 0.3s ease-in-out;
	-moz-transition: right 0.3s ease-in-out;
	-o-transition: right 0.3s ease-in-out;
	-ms-transition: right 0.3s ease-in-out;
	transition: right 0.3s ease-in-out;
	z-index: 1045;
}
#pcs-save.open {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

div.cgs-configuringoption {
	margin-top: 20px;
}


.token.tab:not(:empty):before,
.token.cr:before,
.token.crlf:before,
.token.lf:before,
.token.space:before {
	content: '';
}

.show-invisibles .token.tab:not(:empty):before {
	content: '\21E5';
}
.show-invisibles .token.cr:before {
	content: '\240D';
}
.show-invisibles .token.crlf:before {
	content: '\240D\240A';
}
.show-invisibles .token.lf:before {
	content: '\240A';
}
.show-invisibles .token.space:before {
	content: '\00B7';
}

textarea.code {
	font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

.pcf-onlyconfiguring-hidden {
	display: none;
}

#pcs-btn-configure {
	border-radius: .25rem;
}
