@import "~bootstrap/scss/bootstrap.scss";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~prismjs/themes/prism.css";

/*!
 * PHP-CS-Fixer Configurator styles
 */
#loading {
  position: fixed;
  color: #ddd;
  left: 50%;
  top: 50%;
  font-size: 12rem;
  margin: -6rem 0 0 -6rem;
}

.modal-backdrop {
  opacity: 0.8;
}

.configure-selected-fixer-sets {
  overflow: visible;
  white-space: nowrap;
  padding-right: 3rem!important;
}

@mixin fixer-class($class, $background-color) {
  tr.#{$class},
  div.#{$class}>div.card,
  div.fixer-selection.#{$class} {
    background-color: $background-color;
  }
}

@include fixer-class('fixer-selected-by-fixerset', #ace8b7);
@include fixer-class('fixer-selected-by-user', #5cb85c);
@include fixer-class('fixer-selected-by-user-configured', #5cb85c);
@include fixer-class('fixer-unselected-by-user', #eca6a4);

pre.prism {
  padding: 0.3em;
  .token.tab:not(:empty),
  .token.cr,
  .token.lf,
  .token.space {
    position: relative;
  }
  &.show-invisibles {
    .token.tab:not(:empty):before,
    .token.cr:before,
    .token.lf:before,
    .token.space:before {
      color: #808080;
      opacity: 0.4;
      position: absolute;
    }
    .token.tab:not(:empty):before {
      content: "\21E5";
    }
    .token.cr:before {
      content: "\240D";
    }
    .token.crlf:before {
      content: "\240D\240A";
    }
    .token.lf:before {
      content: "\240A";
    }
    .token.space:before {
      content: "\00B7";
    }
  }
}

textarea.code {
  font-family: $font-family-monospace;
  white-space: pre;
  overflow-wrap: normal;
  &::placeholder {
    font-family: $font-family-sans-serif;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}
